@font-face {
    font-family: "Raleway" ;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: "Raleway" !important;
}

#hero{
    width: 75% !important;
    margin: 0 auto !important;
}

.titre{
    font-family: "Raleway", !important;
    font-weight: 700 !important;
}

.star{
    right: 60% !important;
}